/* TOOLBAR */
.toolbar{
    color: whitesmoke;
    background-color: #0066cc;
    box-shadow: 0 0 0.5em black;
}
.toolbar a{
    text-decoration: none;
    color: whitesmoke;
}
.toolbar__title{
    padding:20px;
    line-height: 19px;
    font-size: 20px;
    color:whitesmoke;
}
.toolbar__nav{
    padding: 20px;
    text-align: right;
}
.toolbar__nav a{
    margin: 0 10px;
    text-align: right;
}

/* EDITOR ON THE LEFT SIDE */
.editor{
    padding:20px;
    margin: 15px;
    border-right:solid 1px #E3E2E2;
    background-color: rgb(206, 222, 238);
}
.editor__item{
    display: block;
    margin:2px 0;
}
.editor__item input[type="checkbox"] {
  clear: left;
  position: static;
  margin:0px;
} 

.editor__item label{
    margin:13px;
    clear: left;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    width: 92px;
}
.editor__item label, .editor__item input{
    display: inline-block;
    vertical-align: middle;
}
.editor__label:not(:first-child){
    border-left:none;
}
.editor__label, .editor__label:first-child {
    border:1px solid black;
    display: inline;
    padding: 5px;
}


/* RESULT DATA + GRAPH */
.result{
    margin:20px 20px 20px 0;
}
.result  table, .result  th, .result  td {
    border:1px solid black;
}
.result  table{
    width:100%;
	margin:auto;
}
.result  th{
    text-transform: uppercase;
    padding:5px;
}
.result  td {
    padding:5px;
}
.result__tablescroll {
	position:relative;
	max-width:100%;
	margin:auto;
	overflow:hidden;
}
.result__tablewrap{
	overflow:auto;
    width: 100%;
}
.result__menu{
    margin-bottom: 20px;
}
a.result__menu__item{
    text-decoration: none;
    color: black;
}
a.result__menu__item:focus{
    color: #1E90FF;
}

