.graphs__bar div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
.graphs{
  width: 100%;
}

.bar{
  fill: steelblue;
}
svg.bar{
  width: 100%;
  height: -webkit-fill-available;
}

.bar:hover{
  fill: brown;
}

.axisBottom, .axisLeft {
  font: 10px sans-serif;
}

.axisBottom, .axisLeft path,
.axis, .axisLeft line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
